.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  
a {
    cursor: pointer;
}

body {
    color: white;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
}

.container-spacing{
    margin-top: 0;
}

@media only screen and (min-width: 320px) {
    .container-spacing{
        margin-top: 0;
    }
}
@media only screen and (min-width: 370px) {
    .container-spacing{
        margin-top: 5vh;
    }
}
@media only screen and (min-width: 600px) {
    .container-spacing{
        margin-top: 5vh;
    }
}
@media only screen and (min-width: 768px) {
    .container-spacing{
        margin-top: 10vh;
    }
}
@media only screen and (min-width: 1024px) {
    .container-spacing{
        margin-top: 10vh;
    }
}
@media only screen and (min-width: 1280px) {
    .container-spacing{
        margin-top: 10vh;
    }
}
@media only screen and (min-width: 1400px) {
    .container-spacing{
        margin-top: 10vh;
    }
}